@import "../../Styles/global.scss";
.spotlight {
  background-image: url(../../Assets/Images/background.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h4 {
    position: absolute;
    font-size: 70px;
    bottom: 200px;
    width: 60%;
    color: #fff;
    font-weight: 400;
  }

  .enquiry {
    cursor: pointer;
    background-color: $green-color;
    border-radius: 4px;
    padding: 12px 26px;
    color: #fff;
    position: absolute;
    bottom: 130px;
    display: flex;
    align-items: center;
    font-size: 16px;
    transition: 0.4s ease-in;
    &:hover {
      background-color: $dark-color;
    }
    svg {
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      transition: 0.3s ease-in;
    }
    &:hover svg {
      transform: rotate(90deg);
    }
  }
}
