* {
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
}